/*Global*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,*:before,*:after{
	box-sizing: border-box;
}

body{
	font-size: 100%;
	line-height: 1,7;
	font-size: 16px;
	color: black;
}

.container {
    max-width: 941px;
    margin: 0 auto;
    padding: 0 20px;
}

section{
	padding-top: 96px;
	padding-bottom: 96px;
}

/*Variables*/

$color-one: #fed136;
$font-header: 'Montserrat', sans-serif;
$font-text: 'droid-serif', sans-serif;
$font-add: 'Roboto Slab', serif;


/*Welcome*/

.welcome{
	height: 729px;
	position: relative;
	background-image: url('https://i.postimg.cc/0262TNVj/Background-Image.jpg');
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
}

.welcome:before{
	content: '';
	position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;
    width: 100%; 
    height: 100%;
    background: #000000;
}

.logo {
	position: relative;
	color: $color-one;
	font-size: 26px;
	font-weight: 400;
	line-height: 41px;
	letter-spacing: 1.3px;

}
.logo p{
	font-family: 'Wisdom Script AJ', sans-serif;
}

.nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	font-size: 18px;

	li {
		display: inline-block;
		color: #fff;
		margin-right: 15px;
		position: relative;
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 400;
		text-align: center;

		a{
			text-decoration: none;
			color: #fff;
			font-family: $font-header;
		}
	}
}

.header{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

.page-subtitle{
	font-size: 40px;
	font-style: italic;
	text-align: center;
	letter-spacing: -1px;
	color: #fff;
	margin-top: 150px;
	font-family: $font-text;
}

.page-title{
	font-size: 75px;
	font-weight: 700;
	font-style: bold;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: -1.88px;
	color: #fff;
	margin-top: 52px;	
	font-family: $font-header;
}

.btn{
	min-width: 240px;
	margin: 24px auto 0 auto;
	padding: 16px;
	border-radius: 5px;
	text-decoration: none;
	cursor: pointer;
	background-color: $color-one;
	background-position: 100% 0;
	background-size: 300%;
	transition: all 1s;
	color: #fff;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	font-family: $font-header;
}

/*Services*/

.services{
	height: 568px;
}

.services-title{
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 47px;

}
.services-title h2{
	text-transform: uppercase;
	font-size: 40px;
	padding-bottom: 15px;
	font-family: $font-header;
	font-style: bold;
}
.services-title p{
	font-size: 16px;
	font-style: italic;
}

.icon{
	width: 68px; 
	height: 67px;
	border: 3px solid $color-one;
	border-radius: 50%;
	display: block;
	margin: auto;
}

.icon img{
	display: block;
	margin: auto;
	padding-top: 10px;
}

.text h4{
	font-size: 18px;
	font-weight: 700;
	letter-spacing: -0.45px;
	text-align: center;
	padding-top: 27px;
}

.text p{
	font-size: 14px;
	font-weight: 400;
	letter-spacing: -0.35px;
	text-align: center;
	padding-top: 15px;
	font-family: $font-add;
}

/*Portfolio*/

.portfolio {
	background-color: #f7f7f7;
}
.picture{
	height: 393px;
	width: 291px;
	background-color: #fff;
	margin-bottom: 50px;
}

.picture h4{
	font-size: 18px;
	font-weight: 700;
	letter-spacing: -0.45px;
	text-align: center;
	padding-top: 30px;
	font-family: $font-header;
}

.picture p{
	font-size: 14px;
	font-weight: 400;
	letter-spacing: -0.35px;
	text-align: center;
	padding-top: 4px;
	padding-bottom: 27px;
	font-family: $font-text;
	font-style: italic;
}

.portfolio-title {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 47px;
}
.portfolio-title h2{
	text-transform: uppercase;
	font-size: 40px;
	padding-bottom: 15px;
	font-family: $font-header;
	font-style: bold;

}
.portfolio-title p{
	font-size: 16px;
	font-family: $font-text;
	font-style: italic;
}

/*Footer*/

.footer{
	height: 121px;
}

.footer p{
	font-size: 14px;
	font-weight: 400;
	text-align: left;
	letter-spacing: -0.35px;
	font-family: $font-header;
}

.col-lg-5{
	margin-top: 54px;
}

.media {
	list-style-type: none;
	margin-top: 40px;

	li{ 
		display: inline-block;
		font-size: 0;
	}
}

.circle{
	width: 41px; 
	height: 40px;
	border-radius: 50%;
	display: block;
	margin: auto;
	background-color: #222222;

	img{
		display: block;
		margin: auto;
		padding-top: 10px;
	}
}

/*Media*/

@media (max-width: 767px) {

	.container {
		flex-direction: column;
	}

	.section {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.page-subtitle{
		font-size: 30px;
		margin-top: 60px;
	}

	.page-title{
		font-size: 50px;
		font-weight: 700;
		margin-top: 40px;	
	}

	.btn{
		min-width: 200px;
		background-size: 200%;
		font-size: 16px;
		font-weight: 600;
	}

	.col-lg-4{
		margin-top: 20px;
	}

	.portfolio{
		margin-top: 250px;
	}

	.picture{
		margin: 0 auto;
	}
}
